@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import "tailwindcss";
@theme {
  --font-poppins: "Poppins", sans-serif;
  --color-blue: #3b85fe;
  --color-orange: #fb5509;
  --color-purple: #563cab;
  --color-yellow: #febe0c;
  --color-pink: #fe0070;
  --color-footer: #7f367a;
}
